<section class="mb-5">
    <div class="container">
    <div class="row title py-3">
        <div class="col-md-12" style="padding-left: 0px;">
            <%= render "filtros"%>
        </div>
    </div>    
    <div class="row">
     
        <div class="col-md-12">
            <div class="row mb-3">
                <div class="col-md-12">
                  <% @runner.each do |runner| %>  
                    <%= render "runner_items", runner: runner%>
                    <br>
                  <% end -%>
                </div>
                                          <div class = "col-md-12 paginate text-center title-table1">
    <%= will_paginate @runner, renderer: BootstrapPagination::Rails, previous_label: "Anterior", next_label: "Siguiente", inner_window: 1, outer_window: 0 %>
  </div>
            </div>           
        </div>
    </div>
</div>
</section>

<style>

.bg-orange {
  background:#d8622b;color:#fff!important;
}

body{
  background:#f4f4f4;
}


a{
  color:#696969;
}

.card-body{
  font-size: 18px;
}
</style>