<h3>Hola Runner</h3>

<p><%=@contact.name%> quire saber sobre esta propiedad <a href="https://www.ebrunk.com/properties/<%=@property.id%>"></a></p>

<img src="https://www.ebrunk.com/<%=@property.images_url%>" style="width: 300px;">

<br>
<br>

